.table-cell {
    -fx-padding: 0.5em;
    -fx-border-color: transparent -fx-box-border transparent transparent;
    -fx-text-fill: #212121;
    -fx-background-color: #FCF7FF;
}
.table-cell :focused {
    -fx-border-color: transparent -fx-box-border transparent transparent;
    -fx-background-color: #878C8F;
}
.button{
    -fx-background-color: #655560;
    -fx-text-fill: white;
}
.button:hover{
    -fx-background-color: #878C8F;
    -fx-cursor: hand;
}
.table-view .column-header{
    -fx-background-color: white;
}
.table-view .column-header :hover {
    -fx-background-color: #e7e7e7;
}
.menu{
    -fx-background-color: transparent;
}
.menu .menu-item:hover, .menu .menu-item:selected, .menu .menu-item:focused{
    -fx-background-color: #878C8F;
}
.text-field:focused, .text-field:selected, .text-field:hover{
    -fx-text-box-border: black ;
    -fx-focus-color: black ;
}
.context-menu {
    -fx-background-color: #f0f0f0;
    -fx-border-color: #cccccc;
    -fx-effect: dropshadow(three-pass-box, #cccccc, 5, 0, 0, 0);
}

.context-menu .menu-item {
    -fx-text-fill: #333333;
    -fx-font-weight: bold;
}

.context-menu .menu-item:hover {
    -fx-background-color: #cccccc;
}


